html .show{
    display: block;
}
*{
    /*outline: 1px solid #ff0000;*/
}
.container{
    width: 1300px;
    height: 100px;
    margin: 0 auto;
}
.head{
    width: 1300px;
    height: 56px;
    overflow: hidden;
    zoom: 1;
}
.head a{
    color: #000000;
    text-decoration: none;
}
.head-left{
    width: 360px;
    height: 56px;
    float: left;
}
.head-right{
    width: 500px;
    height: 56px;
    float: right;
    overflow: hidden;
    zoom: 1;
}
.head-right li{
    margin-top: -16px;
    float: left;
    list-style: none;
    margin-left: 10px;
    width: 105px;
    height: 56px;;
    line-height:56px;
    text-align: center;
}
.head-right .li{
    width: 12px;
    height: 15px;
    background: url("/images/index-icon.png") no-repeat -45px -96px;
    border: 1px solid red;
    padding-right: 12px;
}
.head-nv{
    width: 100%;
    height: 37px;
    /*overflow: hidden;*/
    zoom: 1;
    position: relative;
}
.nv-left{
    background: url("/images/public.3.4.gif")no-repeat 0 -81px;
    width: 210px;
    height: 37px;
    text-align: center;
    line-height: 37px;
    color: #ffffff;
    float: left;
}
.nv-left:hover{
    cursor: pointer;
}
.nv-left:hover .All{
    display: block;
}
.All{
    text-align: left;
    position: absolute;
    top: 37px;
    width: 210px;
    background:#575656;
    display: none;
}
.All h2,.All p{
    margin: 0;
}
.All a{
    color: #ffffff;
    text-decoration: none;
}
.All a:hover{
    color: #000000;
    cursor: pointer;
}
.color:hover{
    background: #ff0000;
}
.nv-right{
    width: 248px;
    height: 37px;
    border-radius:5px ;
    float: right;
    border: 1px solid #CCCCCC;
}
.nv-right input{
    width: 150px;
    height: 34px;
    padding-left: 10px;
    border: none;
    outline: none;
}
.nv-content ul{
    width: 800px;
    height: 37px;
    overflow: hidden;
    margin-top: 0;
    zoom: 1;
}
.nv-content li{
    margin-top: 1px;
    text-align: center;
    float: left;
    list-style: none;
    height: 37px;
    line-height: 40px;
    width: 90px;
    background: #231F20;
    border-right: 2px solid #5A5758;
}
.nv-content li:first-child{
    margin-left: -40px;
}
.nv-content li:last-child{
    border-right: none;
}
.nv-content li:hover{
    cursor: pointer;
    background: #0D0B0B;
}
.nv-content li a{
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
}
.li:hover .life{
    display: block;
}
.life{
    position: absolute;
    top: 37px;
    width: 600px;
    /*height: 298px;*/
    background: #ffffff;
    border: 1px solid #CCCCCC;
    display: none;
}
.life{
    margin-left: -300px;
}
/*.lift1{*/
    /*left: 0;*/
/*}*/
.life-left{
    width: 180px;
    /*height: 298px;*/
    float: left;
}
.lift-right{
    width: 340px;
    /*height: 298px;*/
    margin-left: 10px;
    float: left;
}
.lift-right{
    text-align: left;
}
.lift-right h3,.lift-right p{
    margin: 0;
    height: 29px;
}
.text{
    font-size: 16px;
    color: #C6C6C6;
}
p .txt a{
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}
p .txt a:hover{
    color: #ff0000;
    text-decoration: underline;
}
/*中间*/
.content{
    width: 1300px;
    margin: 30px auto 0;
}
.content table{
    width: 100%;
    border: 1px solid #CCCCCC;
}
.content td,.content th{
    text-align: left;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
}
.td input{
    height: 30px;
}
#indexBtn{
    width: 50px;
    height: 36px;
    text-align: center;
}
.feil{
    width: 1300px;
    overflow: hidden;
    border: 1px solid #CCCCCC;
}
.feil div{
    text-align: center;
    margin-left: 23px;
    width: 300px;
    float: left;
    border: 1px solid #CCCCCC;
}
.feil a{
    text-decoration: none;
    color: #000000;
}
.feil a:hover{
    color: red;
}
.feil img:hover,.feil div:hover{
    cursor: pointer;
}
.feil img:hover{
    margin-left: -20px;
}
/*底部*/
.footer{
    width: 1300px;
    overflow: hidden;
    zoom: 1;
}
.footer-left{
    width: 887px;
    height: 180px;
    float: left;
}
.footer-left table{
    text-align: left;
    width: 100%;

}
.footer-left a{
    color: #000000;
    text-decoration: none;
}
.footer-left a:hover{
    color: red;
}
.footer-right{
    float: right;
    width: 327px;
    height: 177px;
    background: url("/images/public.3.4.gif")no-repeat 0 -250px;
    border-left:1px solid #CCCCCC ;
}
.footer-content{
    width: 1300px;
    height: 170px;
    border-top:1px solid #CCCCCC ;
}
.tx{
    text-align: center;
    font-size: 16px;
    width: 600px;
    height: 100px;
    margin: 20px auto;
}
.img{
    padding: 0 7px 4px 18px;
    background: url("/images/index-icon.png") no-repeat -45px -165px;
}